nav{
  background-image: url(./assets/Hero-bg.png);
  width: 1440px;
  height:698px;
  background-size: auto;
}

.navbar{
  display: flex;
  width: ;
}
h1 {
  font-size: 30px;
  color: #4E47FF;
  margin: 0px;
  width: 99px;
  height: 51px;

}
button{
  color: #FFFFFF;
  width: 132px;
  height: 48px;
  background-color: #4E47FF;
  border: 0px;
  gap: 200px;
  padding-left: 300px;
}